.text.text-4xl {
    font-size: 40px;
  }
  .text.text-3xl {
    font-size: 35px;
  }
  .text.text-2xl {
    font-size: 30px;
  }
  .text.text-xl {
    font-size: 25px;
  }
  .text.text-lg {
    font-size: 20px;
  }
  .text.text-md {
    font-size: 15px;
  }
  .text.text-sm {
    font-size: 10px;
  }
  