.avatar {
    object-fit: contain;
    border-radius: 50%;
}

.avatar.avatar-xs {
    height: 30px;
    width: 30px;
}

.avatar.avatar-s {
    height: 45px;
    width: 45px;
}

.avatar.avatar-md {
    height: 60px;
    width: 60px;
}

.avatar.avatar-lg {
    height: 75px;
    width: 75px;
}

.avatar.avatar-xlg {
    height: 90px;
    width: 90px;
}